<div class="user-container">
  <ddd-demo-action-header [actions]="actions"></ddd-demo-action-header>
<!--  <ddd-demo-create-user-form></ddd-demo-create-user-form>-->
  <ng-container *ngIf="(users$|async) as users">
    <ddd-demo-data-table [data]="users"
                         [columnDefs]="columnDefs"
                         (columnResized)="storeColumns()"
                         (columnMoved)="storeColumns()"
                         (columnVisibilityChanged)="whenColumnVisibilityChanged()"
                         (gridReady)="whenGridReady($event)">
    </ddd-demo-data-table>
  </ng-container>
</div>
